$primary: rgb(36, 91, 142);
$primary-dark: rgb(16, 51, 84);
$secondary: rgb(65, 154, 122);
$light-gray: #b3b3b3;

$grey-0: #f6f9fc;
$grey-1: #D8E0E7;
$grey-2: #ebeff2;
$grey-3: #c1cad4;
$grey-4: #b3bcc4;
$grey-5: #90949a;
$grey-6: #999999;
$grey-7: #777777;
$grey-8: #525151;
$grey-9: #333e4c;
