<div class="navi" id="navi">
  <span class="navi_logo" id="navi_logo"><span class="highlightColor">KETI</span> Digital Twin</span>

  <div class="navi_menu_div">
    <i class="fa-solid fa-bars" id="navi_menu_Button"></i>
    <ul class="navi_ul">
      <li id="navi_menu_btn_1">TEAM</li>
      <li id="navi_menu_btn_2">PROJECT</li>
      <li id="navi_menu_btn_3">BLOG</li>
      <li id="navi_menu_btn_4">PUBLICATIONS</li>
    </ul>


  </div>


  <div class="navi_menu_child_div_outside navi_hidden2" id="navi_menu_child_div_outside">
    <div class="navi_menu_child_div navi_hidden navi_menu_count_2" id="navi_menu_child_1">
      <ul>
        <li>ABOUT TEAM</li>
        <li>MEMBER</li>
      </ul>
    </div>

    <div class="navi_menu_child_div navi_hidden navi_menu_count_3" id="navi_menu_child_2">
      <ul>
        <li>DIGITAL TWIN</li>
        <li>ARTIFICIAL INTELLIGENCE</li>
        <li>DATA SCIENCE</li>
      </ul>
    </div>

    <div class="navi_menu_child_div navi_hidden navi_menu_count_6" id="navi_menu_child_4">
      <ul>
        <li>International Conference</li>
        <li>International Journal</li>
        <li>International Patent</li>
        <li>Domestic Conference</li>
        <li>Domestic Journal</li>
        <li>Domestic Patent</li>
      </ul>
    </div>
  </div>
</div>
<div class="navi_blackShield navi_hidden3" id="navi_blackShield"></div>

<script src="./JS/nav.js"></script>
